
img {
    object-fit: scale-down;
    width: 250px;
    height: 350px;
    /* width: auto; */
    /* height: auto; */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

h3 {
    font-size: 2vmin;
}

a {
    width: 100%;
    color: grey;
    font-size: 1.5vmin;

}

.article-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    text-align: left;
    font-size: 2vmin;
}

.article-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 3vmin;
    width: 80%;
    height: 20vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    gap: 10px;
}


.article-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 50%;
    /* background-color: #5c9ead70; */
}

.article-content {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.article-publisher{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.article-url{
    width: auto;
}

.article-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5vmin;
    color: grey;
}