
img {
    object-fit: cover;
    width: 200px;
    height: 125px;
    /* width: auto; */
    /* height: auto; */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

h3 {
    font-size: 2vmin;
}

a {
    width: 100%;
    color: grey;
    font-size: 1.5vmin;

}

.article-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 3vmin;
    width: 90%;
    height: 20vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    gap: 10px;
}
.article-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    text-align: left;
    font-size: 2vmin;
}




.article-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 50%;
    /* background-color: #5c9ead70; */
}

.article-content {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.article-publisher{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.article-url{
    width: auto;
}

.article-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5vmin;
    color: grey;
}